/* FONTS -------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-j1r3yk');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-j1r3yk') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-j1r3yk') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-j1r3yk') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-j1r3yk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\f167";
}

.icon-vk:before {
	content: "\f189";
}

.icon-twitter:before {
	content: "\e605";
}

/* SYSTEM -------------------------------------------------- */
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

/* ALL -------------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../img/background/1gg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
	/*background-size: cover;*/
	background-attachment: fixed;

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

h1 {
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: 50px 0;
}

h2 {
	font-weight: bold;
	color: #fff;
}

h3 {
	color: #fff;
	text-align: center;
	height: 50px;
}

/* HEAD -------------------------------------------------- */
.menu {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 40px 10px;
	float: right;
}

	.menu a {
		color: #fff;
		margin: 0 10px;		 
		text-decoration: none;
		padding-bottom: 0;
		border-bottom: 2px solid transparent;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.menu a:hover {
		border-bottom: 2px solid;
		/*padding: 0 0 10px 0;*/
		padding-bottom: 10px;
	}

.logo {
	width: 550px;
	display: block;
	margin: 80px auto;

}

.icon-hot {
	text-align: center;
	font-size: 58px;
	margin: 80px 0;
}

	.icon-hot a {
		color: #fff;
		text-decoration: none;
	}

	.icon-hot a span {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.icon-hot a :hover {
		color: #587196;
		text-decoration: none;
	}

/* TEXT ABOUT -------------------------------------------------- */
.about {
	background-color: #587196;
	color: #fff;
	padding-bottom: 20px;
	opacity: 0.9;
}

/* DIREDTION -------------------------------------------------- */
.img-icon {
	width: 200px;
	margin: 0 auto;
	display: block;
}

.directions {
	margin: 20px 0;
}

.group {
	text-align: center;
	color: #fff;
	height: 30px;
}

.directions-wrap {
	margin-top: 30px;
	text-align: center;
}

.row-wrap {
	margin-bottom: 30px;
}

.group-vk {
	color: #fff;
	font-size: 26px;
	text-align: center;
	display: inline-block;
}

.group-vk:hover {
	color: #fff;
	text-decoration: none;
	/* TODO при наведении обводка круг, выравнивание по центру */
}

/* GOOGLE MAP -------------------------------------------------- */
.google-map {
	height: 300px;
}

/* FOOTER -------------------------------------------------- */
.footer {
	background: #587196;
	padding: 25px;
	color: #fff;
	opacity: 0.9;
}

.footer-left {
	position: relative;
	height: 115px;
}

.autor {
	position: absolute;
	bottom: 0;
	display: block;
}

.footer-right {
	padding: 0;
	list-style: none;
}

	.footer-right a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
	}

	.footer-right a:hover {
		border-bottom: 1px solid transparent;
		border-color: #fff;
	}

	ul.footer-right {
		margin-bottom: 0px;
	}

.social-links a {
	position: relative;
	display: inline-block;
	margin: 10px 0 10px 58px;
	border-bottom: 1px solid transparent; 

    color: white;
    line-height: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.social-links a:before {
	font-size: 30px;

	position: absolute;
	display: block;
	width: 48px;
	height: 48px;
	color: white;
	left: -58px;
	top: -14px;
	text-align: center;
	line-height: 48px; 
}

/* Костыль, но похоже у контакта кривой значок в шрифте*/
.footer-right .icon-vk:before {
	margin-left: -3px;
}

.direction-social {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.direction-social:hover {
	transform: scale(1.5,1.5);
	-webkit-transform: scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
}

.bg_image {
    height: 100%;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

/* TODO равнение относительно одного цетнтра по вертикали у иконок соц сетей и надписей */
/* TODO при наведении на текст, чтобы не дергался */



/* TODO анимировать сайт, добавить плавности при наведении на все элементы */
/* TODO для точечек версию ретины */
/* TODO картинки на фон, как запасной вариант видео */