/* FONTS -------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-j1r3yk');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-j1r3yk') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-j1r3yk') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-j1r3yk') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-j1r3yk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\f167";
}

.icon-vk:before {
	content: "\f189";
}

.icon-twitter:before {
	content: "\e605";
}

/* SYSTEM -------------------------------------------------- */
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

/* ALL -------------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../img/background/1gg.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

h1 {
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: 50px 0;
}

h2 {
	font-weight: bold;
	color: #fff;
}

h3 {
	color: #fff;
	text-align: center;
	height: 50px;
}

/* HEAD -------------------------------------------------- */
.menu {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 40px 10px;
	float: right;
}

	.menu a {
		 color: #fff;
		 margin: 0 10px;
	}

	.menu a:hover {
		border-bottom: 2px solid;
		padding-bottom: 10px;
		text-decoration: none;
	}

.logo {
	width: 500px;
	display: block;
	margin: 80px auto;

}

.icon-hot {
	text-align: center;
	font-size: 58px;
	margin: 80px 0;
}

	.icon-hot a {
		color: #fff;
		text-decoration: none;
	}

	.icon-hot a :hover {
		color: #587196;
		text-decoration: none;
	}

/* TEXT ABOUT -------------------------------------------------- */
.about {
	background-color: #587196;
	color: #fff;
	padding-bottom: 20px;
	opacity: 0.9;
}

/* DIREDTION -------------------------------------------------- */
.img-icon {
	width: 200px;
	margin: 0 auto;
	display: block;
}

.directions {
	margin: 20px 0;
}

.group {
	text-align: center;
	color: #fff;
	height: 30px;
}

.directions-wrap {
	margin-top: 30px;
}

.row-wrap {
	margin-bottom: 30px;
}

.group-vk {
	color: #fff;
	font-size: 26px;
	text-align: center;
	display: inline-block;
}

.group-vk:hover {
	color: #fff;
	text-decoration: none;
	/* TODO при наведении обводка круг, выравнивание по центру */
}

/* GOOGLE MAP -------------------------------------------------- */
.google-map {
	height: 300px;
}

/* FOOTER -------------------------------------------------- */
.footer {
	background: #587196;
	padding: 25px;
	color: #fff;
	opacity: 0.9;
}

.footer-right {
	position: relative;
	height: 100px;
}

.autor {
	position: absolute;
	bottom: 0;
	display: block;
}

.footer-left {
	padding: 0;
	list-style: none;
}

	.footer-left a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
	}

	.footer-left a:hover {
		border-bottom: 1px solid transparent;
		border-color: #fff;
	}

.social-links {
	font-size: 30px;
	margin: 10px;
}

/* TODO равнение относительно одного цетнтра по вертикали у иконок соц сетей и надписей */
/* TODO при наведении на текст, чтобы не дергался */



/* TODO анимировать сайт, добавить плавности при наведении на все элементы */
/* TODO для точечек версию ретины */
/* TODO картинки на фон, как запасной вариант видео */